[ req ]
prompt                 = no
default_bits           = 2048
default_md             = sha1
distinguished_name     = req_distinguished_name
x509_extensions        = req_ext

[ req_distinguished_name ]
countryName            = FR
stateOrProvinceName    = PACA
localityName           = Valbonne
organizationName       = KCI
organizationalUnitName = IT
commonName             = kci_ca
emailAddress           = admin@kci.org

[ req_ext ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints       = CA:true
